.header {
	border-bottom: 1px solid var(--border-color);
	padding: 1.5rem;
	padding-bottom: 0;
}

.title {
	margin-right: 0.6rem;
	margin-bottom: 1.8rem;
}

@media (max-width: 900px) {
	.header {
		padding: 1rem;
		padding-bottom: 0;
	}

	.title {
		margin-bottom: 1rem;
	}
}
