.menu {
	width: 104px;
	background-color: var(--bg-dark);
	border-radius: 0 16px 16px 0;
	overflow-y: auto;
	overflow-x: hidden;
	// margin-bottom: 7px;
	height: 99%;
	transition: all 0.2s;
	scrollbar-width: thin;
	scrollbar-color: var(--moz-scroll-color);

	.menu-btn {
		display: none;
	}

	.menu-btn {
		left: 33px;
		z-index: 50;
		transform: rotateZ(-90deg);
		transition: transform 0.3s ease-out;
	}
}

.menu.active {
	transform: translateX(0);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 96px;
	border-radius: 16px;
	margin-bottom: 0.6rem;
}

.nav {
	.nav-list {
		list-style-type: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-left: 0.8rem;
	}

	.nav-item {
		margin-bottom: 1.1rem;
	}

	.nav-link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 92px;
		height: 80px;
		padding: 0.8rem;
		padding-right: 1rem;
		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 20px;
			background-color: transparent;
			height: 20px;
			border-radius: 50%;
			right: 0;
		}

		&:before {
			top: -20px;
			box-shadow: 20px 20px 0 15px var(--bg-light);
			display: none;
		}

		&:after {
			bottom: -20px;
			box-shadow: 20px -20px 0 15px var(--bg-light);
			display: none;
		}

		&:hover {
			background-color: var(--bg-light);
			border-radius: 12px 0px 0px 12px;
			&:before,
			&:after {
				display: block;
			}
		}
	}

	span {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 56px;
		height: 56px;
		text-align: center;
		border-radius: 8px;
		z-index: 2;
	}

	svg {
		fill: var(--main-color);
	}

	.active {
		background-color: var(--bg-light);
		border-radius: 12px 0px 0px 12px;
		span {
			box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
			background: var(--main-color);
		}

		path {
			fill: #fff;
		}

		&:before,
		&:after {
			display: block;
		}
	}

	.nav-item:last-of-type {
		margin-top: 2.5rem;
	}
}

@media (max-width: 1100px) {
	.menu {
		width: 70px;
		overflow-x: visible;
		overflow-y: auto;
	}

	.nav {
		height: 80%;
		.nav-list {
			height: 100%;
			padding-left: 4px;
			justify-content: space-between;
		}

		.nav-link {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 100%;
			height: 60px;
			padding: 0;
		}

		.nav-link.active {
			span {
				box-shadow: 0px 0px 15px rgba(234, 124, 105, 0.32);
			}
		}

		.nav-item:last-of-type {
			margin-top: auto;
			margin-bottom: 0;
		}

		span {
			width: 42px;
			height: 42px;
		}
	}
}

@media (max-width: 460px) {
	.menu {
		width: 70px;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		z-index: 100;
		transition: all 0.3s;
		overflow: visible;
		.menu-btn {
			display: block;
		}
	}

	.nav {
		padding: 5px 0;
		overflow-x: hidden;

		&-item {
			margin-bottom: 10px;
		}

		.nav-list {
			padding: 0 4px;
		}

		.nav-link.active {
			border-radius: 12px;
			&:before,
			&:after {
				display: none;
			}
		}
	}

	.menu.hidden {
		transform: translateX(-200%);
	}
}
