.dashboard {
  display: grid;
  grid-template-columns: [main-start] 3fr [main-end aside-start] 1fr [aside-end];
  grid-template-rows: [header-start] 7rem [header-end];
  grid-gap: 0 1.5rem;
  width: calc(100% - 104px);
  height: 100%;
  padding: 1.5rem;
  overflow-y: auto;
  .header {
    grid-area: main header;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
  }

  .title {
    font-size: 1.8rem;
    line-height: 140%;
    font-weight: 500;
  }

  .date {
    line-height: 140%;
    font-size: 1rem;
    color: var(--text-form);
  }

  .container {
    overflow: hidden;
    height: 108%;
  }

  .aside {
    grid-column: aside;
    grid-row-start: header-start;
  }

  .total-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .top-list {
    list-style: none;
  }

  .top-item {
    display: flex;
    margin-bottom: 1.5rem;
    img {
      border-radius: 50%;
      width: 55px;
      height: 55px;
      margin-right: 14px;
    }

    &__name {
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
    }

    &__quantity {
      font-size: 12px;
      line-height: 140%;
      color: var(--text-form);
    }
  }

  .money-card {
    svg {
      circle {
        stroke: var(--status-purple);
      }

      path {
        fill: var(--status-purple);
      }
    }
  }

  .order-card {
    svg {
      fill: var(--status-orange);
    }
  }

  .customer-card {
    svg {
      fill: var(--status-blue);
    }
  }

  .most-ordered {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .dashboard {
    padding: 1rem;
    .header {
      padding-bottom: 10px;
    }

    .most-ordered {
      padding: 1rem;
      &__header {
        padding-bottom: 1rem;
      }
    }

    .most-ordered-type {
      &__content {
        flex-direction: column-reverse;
      }
    }

    .graph-points {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (max-width: 1100px) {
  .dashboard {
    width: calc(100% - 70px);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    .aside {
      grid-area: unset;
      display: flex;
      justify-content: space-between;
    }

    .container {
      grid-area: unset;
      height: 700px;
      margin-bottom: 15px;
    }

    .most-ordered {
      width: 49%;
      padding: 24px;
    }

    .graph {
      margin-top: 10px;
      margin-right: 0;
    }
  }
}

@media (max-width: 969px) {
  .dashboard {
    overflow-y: auto;
    &__header {
      margin-bottom: 15px;
      padding-bottom: 10px;
    }

    &__total {
      margin-bottom: 15px;
    }

    .total-card {
      margin: 5px;
    }

    .most-ordered {
      width: 48%;
      padding: 0.9rem;
    }
  }
}

@media (max-width: 769px) {
  .dashboard {
    .aside {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 640px) {
  .dashboard {
    padding-right: 0.6rem;
    padding-left: 1rem;
    .container {
      height: max-content;
    }

    .total {
      flex-wrap: wrap;
      justify-content: center;
    }

    .most-ordered {
      width: 100%;
    }
  }

  .total-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 480px) {
  .dashboard {
    width: 100%;
  }
}

@keyframes dashOffset {
  from {
    stroke-dashoffset: 550;
  }

  to {
    stroke-dashoffset: 200;
  }
}
