.home {
	position: relative;
	flex: 1;
	overflow-x: hidden;
	animation: fadeUp 0.4s ease-out;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 3;
	padding: 1.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.home-tabs {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid var(--border-color);
}

.choice {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.3rem;
}

@media (max-width: 969px) {
	.container {
		padding: 1rem;
		padding-left: 1.5rem;
	}
}

@media (max-width: 460px) {
	.container {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

@keyframes fadeUp {
	from {
		transform: translateY(50%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
