.cart-item {
	display: flex;
	margin-bottom: 24px;
	width: 100%;
	.left {
		margin-right: 16px;
		width: 100%;
		min-width: 200px;
	}

	.right {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		width: 80px;
	}

	.total {
		margin-top: 13px;
		margin-bottom: 13px;
		font-size: 16px;
		font-weight: 500;
		line-height: 140%;
	}

	.inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	.info {
		position: relative;
		padding-left: 51px;
	}

	img {
		position: absolute;
		width: 45px;
		height: 41px;
		border-radius: 50%;
		left: 0;
		top: 0;
	}

	.title {
		width: 140px;
		font-weight: 400;
		font-size: 14px;
		line-height: 130%;
	}

	.price {
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
		color: var(--text-form);
	}

	.quantity {
		input {
			width: 48px;
			height: 48px;
			font-weight: 500;
			font-size: 16px;
			text-align: center;
			padding: 12px 10px;
		}
	}
}

.delete-btn {
	padding: 15px;
	border-radius: 8px;
	border: 1px solid var(--main-color);
	svg {
		fill: var(--main-color);
	}
	&:hover {
		border: 1px solid var(--order-btn-active);
		svg {
			fill: var(--order-btn-active);
		}
	}
}

@media (max-width: 969px) {
	.cart-item {
		flex-direction: column;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--border-color);
		.left {
			margin-right: 0;
			margin-bottom: 5px;
		}

		.right {
			flex-direction: row;
			width: 100%;
		}
	}
}
